<div id="<%= dom_id actor %>">
  <p>
    <strong>First name:</strong>
    <%= actor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= actor.last_name %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= actor.nationality %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= actor.bio %>
  </p>

</div>
