<div id="<%= dom_id movie %>">
  <h3>
    <%= link_to movie.title, movie %>
  </h3>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= movie.average_rate %>
  </p>

  <p>
    <strong>Actors include:</strong>
    <%= movie.actor_names %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= movie.keywords %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= movie.catch_phrase %>
  </p>

</div>
<br><hr><br>
